.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin: 30px 90px 0px 90px;
  padding: 10px;
  border-radius: 20px;
  background: #f5f5d5;
}

.title {
  font-size: 30px;
}

.content {
  line-height: 2em;
  padding: 50px 150px 0 150px;
  font-size: 15px;
}
